.donate-items::-webkit-scrollbar-track {
  border: none;
}

.donate-items::-webkit-scrollbar {
  width: 12px;
}

.donate-items::-webkit-scrollbar-thumb {
  background: #BF2E1B;
  border-radius: 10px;
}

.form-control:focus {
  border-color: #BF2E1B;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(191, 46, 27, 0.6);
}

.header {
  width: 100%;
  height: 100px;
  float: top;
  overflow: none;
  margin: 0px;
  border-bottom: 2px solid #BF2E1B;
}

.header.centered {
  display: block;
  text-align: center;
}

.donate-content {
  height: 100%;
  overflow: none;
}

.donate-items {
  overflow: auto;
  width: 80%;
  height: 85%;
  padding: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

.donate-items .empty-items {
  width: 100%;
  text-align: center;
}

.donate-items-page {
  height: 10%;
}

.donate-sidebar {
  transition: all .2s ease-in-out;
  width: 200px;
  border: 2px solid #BF2E1B;
  background-color: white;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  left: 10px;
  text-align: center;
  overflow: hidden;
  z-index: 1;

  overflow-y: hidden;
  max-height: 0px;
  border-bottom: none;
  padding: 0px;
}

.donate-sidebar.show {
  max-height: 350px;
  border-bottom: 2px solid #BF2E1B;
  padding-top: 20px;
  padding-bottom: 20px;
}

.donate-sidebar-btn {
  position: absolute;
  left: 40px;
  width: 140px;
  height: 40px;
  background-color: #BF2E1B;
  color: white;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all .2s ease-in-out 0s;
  cursor: pointer;
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  opacity: .5;
}

.donate-sidebar-btn:hover {
  transform: scale(1.1);
  opacity: 1;
}

.donate-sidebar-btn .filter-icon {
  color: white;
  text-align: center;
  margin-left: 5px;
}

.donate-sidebar-btn .text {
  margin-bottom: 10px;
  height: 20px;
}

.donate-sidebar-btn.expanded {
  margin-top: 350px;
  opacity: 1;
}

.donate-sidebar .filter-dropdown {  
  width: 100%;
}

.donate-sidebar .dropdown {
  margin-left: 40px;
  margin-right: 40px;
  width: 120px;
  margin-bottom: 5px;
}

.donate-sidebar .filter-label {
  margin-left: 20px;
  margin-right: 20px;
  width: 160px;
  margin-bottom: 0;
  font-weight: bold;
}

.donate-sidebar .clear-btn {
  margin-left: 50px;
  margin-right: 50px;
  width: 100px;
}

.donate-sidebar .dropdown-menu {
  left: -20px;
  text-align: center;
}

.header .logo {
  max-height: 80px;
  margin-top: 5px;
  margin-left: 5%;
  height: auto;
  float: left;
}

.header.centered .logo{
  margin-left: 0px;
  float: none;
}

.header .search {
  float: right;
  width: 50%;
  margin-top: 30px;
}

.header .search .search-group {
  margin-left: 25%;
  width: 50%;
}

.header .search:focus {
  border-color: #BF2E1B;
}
 
.item-preview .img-container {
  height: 100%;
  width: 145px;
  float: left;
  padding-right: 1%;
}

.item-preview .info-container {
  height: 100%;
  width: calc(100% - 145px);
  padding-left: 10px;
  float: left;
}

.item-preview {
  width: 50%;
  height: 220px;
  padding: 1%;
  float: left;
  border-radius: 5px;
  overflow-y: hidden;
  position: relative;
}

.item-preview:after {
  content:"";
  position:absolute;
  bottom: 0px;
  left:0;
  height:50px;
  width:100%;
  background: -webkit-gradient(linear, bottom, color-stop(20px, rgba(255, 255, 255, 0)), color-stop(100%, white)); /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 20px, white 100%); /* Chrome10+, Safari5.1+ */
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 20px, white 100%);    /* FF3.6+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20px,  white 100%);  
}

.item-preview:hover:after {
  background: -webkit-gradient(linear, bottom, color-stop(20px, transparent), color-stop(100%, white)); /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 20px,lightgray 100%); /* Chrome10+, Safari5.1+ */
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 20px,lightgray 100%);    /* FF3.6+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20px, lightgray 100%);  
}

.item-preview .progress {
  margin: 0px;
  float: bottom;
  height: 20px;
}

.need-warning {
  color: darkgoldenrod;
  margin-top: 1%;
}

.need-danger {
  color: darkred;
  margin-top: 1%;
}

.need-success {
  color: darkgreen;
  margin-top: 1%;
}

.need-info {
  color: #5bc0de;
  margin-top: 1%;
}

.need-default {
  color: #337ab7;
  margin-top: 1%;
}

.item-preview .title {
  font-weight: bold;
}

.item-preview .img {
  width: 100%;
}

.item-preview img {
  /* border: 2px solid lightgray; */
  background-color: lightgray;
}

.item-preview hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-preview p {
  margin: 0px;
}

.item-preview:hover {
  background-color: lightgray;;
  cursor: pointer;
}

.item-preview .fund-price {
  overflow: auto;
  display: inline-block;
  width: 100%;
}

.item-preview .fund-price .progress {
  margin-left: 5%;
  width: 50%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-preview .title-hidden {
  opacity: 0;
}

.item-preview .price-hidden {
  opacity: 0;
}

.item-preview .description-hidden {
  opacity: 0;
}

.item-view .modal-header b {
  float: left;
}

.donate-items .active a{
  background-color: #BF2E1B !important;
  border-left: 2px solid #BF2E1B !important;
  border-right: 2px solid #BF2E1B !important;
}

.pagination-container {
  text-align: center;
  width: 100%;
}

.item-view img {
  float: left;
  margin-right: 1%;
  border: 2px solid lightgray;
  background-color: lightgray;
}

.item-view .title {
  font-weight: bold;
}

.item-view h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-view hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.item-view .item-info {
  width: 100%;
  float: left;
}

.item-view .need-data {
  width: 100%;
  float: left;
  margin-top: 2%;
  margin-bottom: 20px;
}

.item-view .progress {
  width: calc(100% - 210px);
  float: right;
  margin: 0px;
}

.item-view .need-warning {
  color: darkgoldenrod;
  margin-top: 1%;
  width: 200px;
  margin: 0px;
  float: left;
}

.item-view .need-danger {
  color: darkred;
  margin-top: 1%;
  width: 200px;
  margin: 0px;
  float: left;
}

.item-view .need-success {
  color: darkgreen;
  margin-top: 1%;
  width: 200px;
  margin: 0px;
  float: left;
}

.item-view .need-info {
  color: #5bc0de;
  margin-top: 1%;
  width: 200px;
  margin: 0px;
  float: left;
}

.item-view .need-default {
  color: #337ab7;
  margin-top: 1%;
  width: 200px;
  margin: 0px;
  float: left;
}

.item-view .donate-container {
  margin-top: 20px;
  width: 100%;
  overflow: auto;
}

.item-view .equation {
  width: 200px;
  text-align: right;
  float: left;
  overflow: auto;
  margin-bottom: 10px;
}

.item-view .react-numeric-input {
  width: 100%;
}

.item-view .react-numeric-input input {
  width: 100%;
}

.item-view .equation-bottom {
  width: 100%;
  float: right;
  border-bottom: 2px solid black;
}

.item-view .equation-result {
  width: 100%;
  font-weight: bold;
  float: right;
  margin-bottom: 0px;
  font-size: 25px;
}

.item-view .btn-container {
  float: right;
  width: 60%;
  padding-left: 10%;
  padding-right: 10%;
}

.item-view .btn {
  width: 100%;
  color: #BF2E1B;
  background-image: none;
  background-color: white;
}

.item-view .btn:hover {
  background-color: #BF2E1B;
  background-image: none;
  color: transparent;
  text-decoration: none;
}

.item-view .add-to {
  margin-bottom: 25px;
}

.item-view .num-items {
  width: 10%;
  text-align: right;
}

.donate-tutorial {
  width: 50%;
  opacity: .9;
}

.donate-tutorial .logo {
  width: 25%;
  position: absolute;
  left: 0;
  top: 0;
}

.donate-tutorial .modal-body {
  border: 5px solid #BF2E1B;
  border-radius: 5px;
}

.donate-tutorial .carousel-inner {
  height: 400px;
}

.donate-tutorial .carousel-inner .item {
  height: 100%;
}

.donate-tutorial .content-container {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 5%;
  padding-top: 2%;
}

.donate-tutorial hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.donate-tutorial .btn-container {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: center;
}

.donate-tutorial .next-btn {
  font-size: 75px;
  color: lightgray;
  cursor: pointer;
  margin-right: 2%;
  margin-top: 13px;
  float: right;
}

.donate-tutorial .prev-btn {
  font-size: 75px;
  color: lightgray;
  cursor: pointer;
  margin-top: 13px;
  float: left;
  margin-left: 2%;
}

.donate-tutorial .next-btn:hover {
  color: #BF2E1B;
}

.donate-tutorial .prev-btn:hover {
  color: #BF2E1B;
}

.donate-tutorial .title {
  font-size: 45px;
  font-weight: bold;
  margin-top: 0px;
}

.donate-tutorial .info {
  margin-top: 35px;
  text-align: left;
  font-size: 20px;
}

.donate-tutorial .list {
  font-size: 20px;
  margin-left: 0px;
}

.donate-tutorial .nomargin {
  margin: 0px;
}

.donate-tutorial .list-head {
  text-align: left;
  margin-left: 10%;
  font-weight: bold;
}

.donate-tutorial .list-footer {
  font-weight: bold;
}

.donate-tutorial ul {
  text-align: left;
  margin-left: 12%;
}

.donate-tutorial .skip-btn {
  width: auto;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.donate-tutorial .sublist {
  margin-left: 0px;
}
.donate-tutorial .sublist li{
  margin-bottom: 0px;
}

.donate-tutorial .sample-container {
  width: 100%;
  height: 100px;
}

.donate-tutorial .need-input {
  margin-top: 50px;
  transform: translateY(-50%);
  margin-left: 10%;
  width: 90%;
}

.donate-tutorial .progress-bar-sample {
  width: 50%;
  float: left;
}

.donate-tutorial .close-btn {
  width: auto;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.donate-tutorial .progress {
  height: 20px;
  margin-bottom: 12px !important;
}

.donate-tutorial .progress.first {
  margin-top: 2px;
}

.donate-tutorial .need-danger {
  margin-top: 0px;
  margin-bottom: 4px;
}

.donate-tutorial .need-warning {
  margin-top: 0px;
  margin-bottom: 4px;
}

.donate-tutorial .need-success {
  margin-top: 0px;
  margin-bottom: 4px;
}

.donate-tutorial .get-started {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  height: 100px;
  background-image: none;
  color: transparent;
  background-color: #BF2E1B;
  border-color: #BF2E1B;
  font-size: 35px;
}

.donate-tutorial ul{
  list-style: none;
}

.donate-tutorial .info ul li {
  margin-left: 20px;  
}

/* Prevent nested li's from getting messed up */
.donate-tutorial .info ul li::before {
  content: "-";
  margin-left: -15px;
  margin-right: 5px;
}

.progress-bar-sample {
  list-style: none;
}

.progress-bar-sample li {
  margin-left: 20px;
}

.progress-bar-sample li::before {
  content: "-";
  margin-left: -15px;
  margin-right: 5px;
  font-weight: bold;
}

.donate-tutorial .get-started:hover {
  color: #BF2E1B;
  background-color: white;
}

@media screen and (max-width: 760px) {
  .item-preview .info-container {
    width: 100%;
  }
  
  .item-preview .img-container {
    width: 100%;
    text-align: center;
    height: 200px;
  }

  .item-preview .img-container img {
    border: 2px solid lightgray;
  }

  .item-preview {
    height: 400px;
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 5px;
  }

  .donate-items {
    width: 100%;
  }

  .header .search {
    width: 50%;
    padding-left: 5%;
  }

  .header .search .search-group{
    width: 80%;
    margin-left: 10%;
  }

  .header .logo {
    max-height: 50px;
    max-width: 45%;
    margin-top: 20px;
    float: left;
  }

  .donate-tutorial {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .donate-tutorial .carousel-inner {
    height: 380px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 70px;
  }

  .donate-tutorial .carousel-indicators {
    bottom: -70px;
  }

  .donate-tutorial .info {
    font-size: 18px;
    text-align: center;
  }

  .donate-tutorial .get-started {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .donate-tutorial .progress-bar-sample {
    text-align: left;
    font-size: 20px;
  }

  .donate-content {
    max-height: 100%;
    overflow: hidden;
  }

  .donate-content .donate-items {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: calc(100% - 100px);
  }

  .item-view {
    margin-top: 25%;
  }

  .item-view .equation {
    padding-right: 5%;
    padding-left: 5%;
  }

  .item-view .btn-container {
    width: calc(100% - 200px);
    padding-left: 5%;
    padding-right: 5%;
  }

  .item-view .need-warning {
    width: 200px
  }

  .item-view .description {
    width: calc(100% - 210px);
    overflow-y: scroll;
    height: 160px;
    float: right;
  }

  .item-view .add-to {
    margin-bottom: 20px;
  }

  .item-view .need-data {
    margin-bottom: 20px;
  }

  .donate-sidebar-btn {
    left: 35px;
  }

  .donate-sidebar {
    left: 5px;
  }
}

@media screen and (max-width: 400px) {
  .donate-tutorial .get-started {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}


